extends _layout.pug

include _mixin.pug

block content
  .class-a
    p.text ほげほげ
    a(href="example.com")
    include ./_parts.pug
    +testMixin
    stylekit.
      html{
        background-color: #000;
      }
    
